@import "../Variables/Variables.scss";

section {
  width: 100%;
  min-height: 100vh;
  max-width: auto;
  display: flex;
  align-items: top;
  padding: 0 6rem;
  background-color: $color-grey;
  padding-bottom: 11rem;

  .welcome-container {
    @include flex-col;
    padding-top: 25vh;
    width: 90%;
    max-width: 1060px;
    font-size: calc(11px + 0.7vw);
    line-height: 2em;
    margin-bottom: 8px;
  }
}
